<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/static/css/gameplay.css" th:href="@{/css/gameplay.css}">
<!--        <link rel="stylesheet" href="/static/css/gameplay.css" href="/static/css/gameplay.css">-->
        <title>Four in a row/g</title>
    </head>
<body>
   <div id="gameContent">

        <div id="infoPanel">

            <p id="infoTitle">
                Four in a row
            </p>

            <div id="statistic">
                <p id="idToPlay">

                </p>

                <p id="currentPlayer">
                    <!--                 Current player:-->
                </p>

                <p id="firstPlayerColor">
                    <!--                Player1 color:-->
                </p>

                <p id="secondPlayerColor">
                    <!--                Player2 color:-->
                </p>

                <p id="firstPlayerWins">
                    <!--                Player1 wins:-->
                </p>

                <p id="secondPlayerWins">
                    <!--                Player2 wins:-->
                </p>

            </div>

            <div id="buttonsSection">
                <button id="SubmitButton" class="buttons" onclick="game.changePlayers()">
<!--                <button id="SubmitButton" class="buttons" onclick="change()">-->
                    Submit
                </button>

                <button id="RestartButton" class="buttons" onclick="restartGame(game)">
                    Restart
                </button>
            </div>
        </div>
       <div id="gamePanel">
           <canvas id="canvas">
               <noscript>Sorry, your browser does not support JavaScript!</noscript>
           </canvas>
       </div>
   </div>



   <div id="return">
       <a href="greeting.html">Return to menu</a>
   </div>

    <script type="text/javascript"  th:src="@{/js/gameplay.js}"></script>
<!--   <script type="text/javascript"  src="/static/js/gameplay.js"></script>-->
<!--   src="/static/js/gameplay.js"-->
</body>
</html>