* {
    font-family: "Century Gothic", monospace;
    background: lightyellow;
    color: darksalmon;
}
#gameContent{
    /*display: inline;*/
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

#return {
    /*text-anchor: end;*/
    text-align: center;
    /*text-align: left;*/
    /*font-size: 1.2em;*/
    font-size: 1.5vw;
    /*padding-top: 3em;*/
    /*padding-left: 2em;*/
    font-style: italic;
    font-weight: lighter;
    /*margin-top: 18vw;*/
    display: block;
    /*border:1px solid #000000;*/
}

#return a {
    text-decoration: none;
}

#return a:hover{
    text-align: right;
    color: #875235;
}

/*#header {*/
/*    font-size: 4em;*/
/*    font-style: italic;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*}*/
#gamePanel {
    /*border: 1px solid #000000;*/
    text-align: center;
    margin: 0 auto;
    /*width="200";*/
    /*height="100";*/
}
/*#canvas{*/
/*    width: 850em;*/
/*    height: 850px;*/
/*}*/

#gamePanel canvas{
    /*border:1px solid #000000;*/
    text-align: center;
    width: 850px;
    height: 850px;
    /*height: 850px;*/
    /*width="200";*/
    /*height="100";*/
}

#infoPanel{
    /*border:1px solid #000000;*/
    margin: 4em auto;
    text-align: center;
    /*font-size: 1cm;*/
    /*font-size: 0.9%;*/
    /*font-size: 0.9em;*/
    /*display: block;*/

}
#infoPanel p {
    font-size: 1.5vw;
}

#SubmitButton{
    background-color: #21b567; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /*font-size: 2em;*/
    font-size: 1.7vw;
    /*display: block;*/
    display: inline-block;
    margin: 0.5em auto;
    width: 5em;
    height: 2em;
    box-sizing: border-box;
    border-radius: 0.3em;
    /*border-style:  groove;*/
    /*border-color: #21b567;*/
}

/*#SubmitButton:hover{*/
/*    background-color: #347634;*/
/*}*/

#SubmitButton:active{
    background-color: #1eac59;
    /*border-style: ridge;*/
    /*border-color: palegreen;*/
}


#RestartButton{
    /*background-color: #e03348; !* Алый *!*/
    background-color: Tomato;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /*visibility: hidden;*/
    /*visibility: visible;*/
    font-size: 1.7vw;
    /*display: block;*/
    /*display: inline-block;*/
    display: none;
    margin: 0.5em auto;
    width: 5em;
    height: 2em;
    box-sizing: border-box;
    border-radius: 0.3em;

    /*transition: opacity 0.7s linear 2s;*/
    /*padding-right: 100px;*/
    /*margin: auto auto;*/
    /*margin: -150px 130px;*/
}

#RestartButton:active{
    background-color: #d15945;
    /*background-color: #cb2d3e;*/
}

/*Разузнать побольше об этом параметре*/
/*visibility: collapse;*/

/*Можно использовать для плавного появления*/
/*transition*/
/*opacity*/


/*html {*/
/*    overflow:  hidden;*/
#infoPanel p#infoTitle{
    text-align: center;
    font-size: 4vw;
    font-style: italic;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}