<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/statistic.css">
    <title>Statistic</title>
</head>
<body>
        <div id="header">
            <p>
                Game statistic
            </p>
        </div>
        <div id="desc">
            <dl>
                <dt>Games:</dt>
                <dd>10</dd>

                <dt>Loses:</dt>
                <dd>0</dd>

                <dt>Wins:</dt>
                <dd>0</dd>

                <dt>Average game time:</dt>
                <dd>0</dd>

                <dt>Total time in game:</dt>
                <dd>10 minutes</dd>

            </dl>
        </div>
    <div id="return">
        <a href="greeting.html">Return to menu</a>
    </div>
</body>
</html>